In [2]:
#Python- Dictionary
#           key    value
country = {'IND':'India','CHN':'China','AUS':'Australia'}
#        key : value , 
marks = {1:50.5,   2:80,   3:89.2,   4:70}
print(country)
print(marks)

{'IND': 'India', 'CHN': 'China', 'AUS': 'Australia'}
{1: 50.5, 2: 80, 3: 89.2, 4: 70}

In [3]:
# Values embedded in the form of list
dict = {"Flowers":["Rose","Lily"],"colours":["Red","Blue"]}
#     list is values here     
dict

{'Flowers': ['Rose', 'Lily'], 'colours': ['Red', 'Blue']}

In [5]:
#How to access the value corresponding to the key in a dictionary
#get() 
country = {'IND':'India','CHN':'China','AUS':'Australia'}
#How to access the value corresponding to the key in a dictionary
#get()
country = {'IND':'India','CHN':'China','AUS':'Australia'}
print(country.get('Ind'))
#How to access the value corresponding to the key in a dictionary
#get()
country = {'IND':'India','CHN':'China','AUS':'Australia'}
print(country.get('Ind'))

India

In [6]:
#iterating dictonary trough loops
country = {'IND':'India','CHN':'China','AUS':'Australia'}
for key in country:
    print(key+" "+country.get(key))

IND India
CHN China
AUS Australia

In [7]:
#iterating dictonary trough loops
country = {'IND':'India','CHN':'China','AUS':'Australia'}
for key,val in country.items():
    print(key+" "+val)

IND India
CHN China
AUS Australia

In [8]:
#Update dictionary
student={101:'Allen',102:"donald",103:'Williams'}
print("Elements of a dictionary before updating : ",student)
student[102]="Kelly"
print("Elements of a dictionary after updating : ",student)

Elements of a dictionary before updating :  {101: 'Allen', 102: 'donald', 103: 'Williams'}
Elements of a dictionary after updating :  {101: 'Allen', 102: 'Kelly', 103: 'Williams'}

In [9]:
#deleting a value from a dictionary
# del
student={101:'Allen',102:"donald",103:'Williams'}
del student[103]
print("element deleted successfully")
student

element deleted successfully

{101: 'Allen', 102: 'donald'}

In [10]:
student={101:'Allen',102:"donald",103:'Williams'}
del student
print("dict deleted successfully")
student

dict deleted successfully

NameError: name 'student' is not defined

# name , key , indentation, error

In [11]:
#How to view only the keys & values
#keys() - values()

student={101:'Allen',102:"donald",103:'Williams'}
print("Keys are   : ",student.keys())
print("Values are : ",student.values())

Keys are   :  dict_keys([101, 102, 103])
Values are :  dict_values(['Allen', 'donald', 'Williams'])

In [12]:
student={101:'Allen',102:"donald",103:'Williams'}
student[102]=None
student

{101: 'Allen', 102: None, 103: 'Williams'}

In [13]:
#Multi dimensional dict
d1={'name':'John','marks':89}
d2={'name':'williams','marks':50}
d3={'name':'Smith','marks':70}

student={101:d1,102:d2,103:d3}

print(student[101])
print("Marks of a williams is :",student[102]['marks'])

{'name': 'John', 'marks': 89}
Marks of a williams is : 50

In [14]:
#Buitl-In function over a Dictionary
#len()-used to get the length
d1={'name':'John','marks':89}
print("Total elements : ",len(d1))

Total elements :  2

# dictionary creation dynamically

In [18]:
choice = "Y"
empdictionary = {}
eID = 1
while choice == 'Y' or  choice == "y":
    print("accepting first student or employee")
    ename = input("enter   emp name")
    esalary = float(input("enter employee salary"))
    
    # empdict contains single employee record 
    empdict ={"name":ename,"salary":esalary}
    empdictionary.update({eID:empdict})
    eID+=1
    choice = input("yes or no")
print("prog ends here")
empdictionary

accepting first student or employee
enter   emp namehello
enter employee salary45000
yes or noY
accepting first student or employee
enter   emp namehello
enter employee salary4500
yes or non
prog ends here

{1: {'name': 'hello', 'salary': 45000.0},
 2: {'name': 'hello', 'salary': 4500.0}}

In [20]:
choice = "Y"
empdictionary = {}
while choice == 'Y' or  choice == "y":
    print("accepting first student or employee")
    eID = int(input("enter emp ID"))
    if eID in empdictionary:
        print("please enter unique ID")
        continue
    ename = input("enter   emp name")
    esalary = float(input("enter employee salary"))
    
    # empdict contains single employee record 
    empdict ={"name":ename,"salary":esalary}
    empdictionary.update({eID:empdict})
    choice = input("yes or no")
print("prog ends here")
empdictionary

accepting first student or employee
enter emp ID1
enter   emp nameSuresh
enter employee salary45000
yes or noy
accepting first student or employee
enter emp ID1
please enter unique ID
accepting first student or employee
enter emp ID1
please enter unique ID
accepting first student or employee
enter emp ID2
enter   emp name2
enter employee salary45000
yes or non
prog ends here

{1: {'name': 'Suresh', 'salary': 45000.0}, 2: {'name': '2', 'salary': 45000.0}}

In [21]:
#Buitl-In function over a Dictionary
#len()-used to get the length
d1={'name':'John','marks':89}
print("Total elements : ",len(d1))

Total elements :  2

In [23]:
#Buitl-In function over a Dictionary
#max()
d1={'P':"Python","D":"Django","p":"Pyramid"}
d2={1:50,2:60,3:70}
print(max(d2))
print(max(d1))

3
p

In [24]:
#Buitl-In function over a Dictionary
#min()
d1={'P':"Python","D":"Django","p":"Pyramid"}
d2={1:50,2:60,3:70}
print(min(d1))
print(min(d2))

D
1

In [25]:
#Buitl-In function over a Dictionary
#pop() - - return the value associated with the key & the coresponding key-valuer pair to be removed.
student={101:'Allen',102:"donald",103:'Williams'}
print(student.pop(102))
print(student)
#Buitl-In function over a Dictionary
#clear()- delete all the elements

student1={101:'Allen',102:"donald",103:'Williams'}
student1.clear()
print(student1)

donald
{101: 'Allen', 103: 'Williams'}
{}

In [26]:
#Buitl-In function over a Dictionary
#items()- return a list of tuple as key value
student1={101:'Allen',102:"donald",103:'Williams'}
print(student1.items())

dict_items([(101, 'Allen'), (102, 'donald'), (103, 'Williams')])

In [29]:
#Buitl-In function over a Dictionary
#keys()- use to get only keys
student1={101:'Allen',102:"donald",103:'Williams'}
print(student1.keys())
student1.values()

dict_keys([101, 102, 103])

dict_values(['Allen', 'donald', 'Williams'])

In [45]:
#multi-dim array
s1={"name":"JOHN","marks":89}
s2={"name":"Allen","marks":59}
s3={"name":"Donald","marks":79}

students = {101:s1,102:s2,103:s3}

# for key,val in students.items():
#     print(key)
#     for k,v in val.items():
#         print(str(k)+" "+str(v))

101
name JOHN
marks 89
102
name Allen
marks 59
103
name Donald
marks 79

In [47]:
students = (101,s1["marks"])
print(students)

(101, {'name': 'JOHN', 'marks': 89})

In [51]:
#multi-dim array

s1={"name":"JOHN","marks":89}
s2={"name":"Allen","marks":59}
s3={"name":"Donald","marks":79}

students = {101:s1,102:s2,103:s3}
marks_list=[]
max_marks=0
count = 1
for k,v in students.items():
    marks_list.append(v['marks'])
    print("In the ${count}  round",)
    count += 1
    print(marks_list)
    max_marks=max(marks_list)
    print(max_marks)
    print("MAXIMUM MARKS",max_marks) 
    max_=max_marks

In the ${count}  round
[89]
89
In the ${count}  round
[89, 59]
89
In the ${count}  round
[89, 59, 79]
89

In [53]:
x = "Bread"
y = "Butter"
print('I Love {1} and {0}'.format(x,y))

I Love Butter and Bread

In [56]:
#multi-dim array

s1={"name":"JOHN","marks":89}
s2={"name":"Allen","marks":59}
s3={"name":"Donald","marks":79}

students = {101:s1,102:s2,103:s3}
marks_list=[]
max_marks=0
# count = 1
for k,v in students.items():
    marks_list.append(v['marks'])
#     print("In the ${count}  round",)
#     count += 1
#     print(marks_list)
    max_marks=max(marks_list)
    print()
print("MAXIMUM MARKS",max_marks) 
max_=max_marks
for k,v in students.items():
    if v['marks']==max_:
        print("ROLL NO. OF STUDENT WHO OBTAINED MAXIMUM MARKS",k)
        print(students[k])

MAXIMUM MARKS 89
ROLL NO. OF STUDENT WHO OBTAINED MAXIMUM MARKS 101
{'name': 'JOHN', 'marks': 89}

In [55]:
val = 'quantum'
print(f"{val}for{val} is a portal for {val}.")

quantumforquantum is a portal for quantum.